<template name="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="red-border"><a href="{{pathFor 'about'}}">ABOUT</a></li>
                    <li class="red-border"><a href="{{pathFor 'contact'}}">CONTACT</a></li>
                    <li class="red-border"><a href="{{pathFor 'resume'}}">RESUME</a></li>
                    <li class="red-border" id="projects"><a href="{{pathFor 'projects'}}">PROJECTS</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->

        </div><!-- /.container-fluid -->
    </nav>
</template>
