p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 17px;
}

.centered-div {
    display: block;
    margin: auto;
}

.container {
    margin-bottom: 40px;
}

#header-container {
    height: 150px;
}

#name-row {
    height: 100%;
}

#name-container {
    height: 100%;
    margin-left: 23%
}

#my-name {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 50px;
    margin-top: 35px;
    color: black;
}

#j {
    font-family: 'Parisienne', cursive;
    color: white;
    background-color: black;
    border:  5px double;
    border-radius: 50%;
    padding: 20px 35px;
    margin: 0 15px;
}

.navbar-default {
    margin-top: 35px;
    background-color: transparent;
    border: none;
}

.container-fluid {
    margin-left: 29%;
    height: 40px;
}

.red-border {
    border-right: 2px solid red;
    width: 150px;
    margin-top: 10px;
    height: 26px;
    margin-bottom: 10px;
    text-align: center;
}

#projects {
    border: none;
}

.navbar-collapse {
    height: 30px;
}

.navbar-nav > li > a {
    padding-top: 3px;
    padding-bottom: 3px;
    height: 26px;
}

.thumbnail {
    border: none;
    margin-top: 20px;
}

.thumbnail a > img {
    margin: none;
    display: inline;
}

.portrait {
    border-radius: 50%;
    border: 5px double;
}

.caption {
    margin-left: 30px;
}

#footer-line {

}

#landing-page {
    margin-top: 20px;
    background: url(/assets/cocktail-highres.jpg) center center;
    background-size: cover;
    border: 5px double;
    opacity: 0.8;
}

#landing-page > h1, #landing-page > h3, #landing-page > h4 {
    margin-top: 20px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    padding-bottom: 25px;
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

a, a:hover, a:focus {
    text-decoration: none;
}

#intro {
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
}

#ps {
    font-size: 7px;
}

.contact-group {
    margin-top: 35px;
}

.contact-method, .project-box {
    height: 80px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-box {
    padding-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-bottom: 20px;
}

.contact-method > p {
    padding: 15px 0 15px 300px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

#phone {
    background: black url(/assets/mobile-phone.png) no-repeat 10% center;
    background-size: 175px;
}

#email {
    background: #DD0018 url(/assets/email-icon.png) no-repeat 10% center;
    background-size: 175px;

}

#tweet {
    background: #00A8EB url(/assets/twitter-icon.png) no-repeat 10% center;
    background-size: 175px;
}

#qr {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
}

.angular-proj {
    background: #E86469 url(/assets/angular-logo.png) no-repeat 85% center;
    background-size: 225px;
    color: white;
}

.meteor-proj {
    background: #3C3F50 url(/assets/meteor-logo.png) no-repeat 85% center;
    background-size: 225px;
    color: #C24C4F;
}

.rust-proj {
    background: #ffffff url(/assets/rust-logo.png) no-repeat 85% 40%;
    background-size: 225px;
    border: 1px solid;
    color: black;
}

.javascript-proj {
    background: #F0DB4F url(/assets/javascript-logo.png) no-repeat 80% 75%;
    background-size: 225px;
    color: black;
}

