<template name="homeAboutMe">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="thumbnail">
                <img src="/assets/seankim01.jpg" alt="Hi! I'm Sean!" class="portrait" width="125px" height="125px"/>
                <div class="caption">
                    <a href="https://github.com/jinnjuice">
                        <img src="/assets/github-circle.png" alt="github" height="25px" width="25px"/>
                    </a>
                    <a href="https://www.linkedin.com/in/seanjkim">
                        <img src="/assets/linkedin-circle.png" alt="linkedin" height="25px" width="25px"/>
                    </a>
                    <a href="https://twitter.com/SeanJinKim">
                        <img src="/assets/twitter-circle.png" alt="twitter" height="25px" width="25px"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>my intro</h3>
        </div>
    </div>
</template>