<template name="homeAboutMe">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="thumbnail">
                <img src="/assets/seankim01.jpg" alt="Hi! I'm Sean!" class="portrait" width="125px" height="125px"/>
                <div class="caption">
                    <a href="https://github.com/jinnjuice">
                        <img src="/assets/github-circle.png" alt="github" height="25px" width="25px"/>
                    </a>
                    <a href="https://www.linkedin.com/in/seanjkim">
                        <img src="/assets/linkedin-circle.png" alt="linkedin" height="25px" width="25px"/>
                    </a>
                    <a href="https://twitter.com/SeanJinKim">
                        <img src="/assets/twitter-circle.png" alt="twitter" height="25px" width="25px"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" id="intro">
            <p>
                Hello, I'm Sean. <br/>
                <br/>
                When I set out to make a drastic and sudden change in my life, I knew I wanted to do something that
                utilized my creativity to make a profound impact on as many lives as possible. Sure I guess I could
                have become a doctor or a lawyer, but there are only so many ways to perform brain surgery and
                defend inside stock traders. Been there, done that - I assume people in these professions would say.
                I'm kidding, of course. I don't quite think I have the brain capacity to do either of those things.
                <br/>
                <br/>
                Web development, however, seemed sufficiently difficult yet oddly gratifying. The more I learned, the
                more there was to learn. Oh there were many a times when I wanted to bang my head against the wall
                but I couldn't afford the bill. So I keep on fighting the good fight as they say. Here are some of
                things I learned about myself on my journey: <br/>
                <br/>
                I love JavaScript! <br/>
                I love CSS a little less... a lot less. <br/>
                I am an iterative learner. Lather, rinse and repeat! <br/>
                I think I have Obsessive Compulsive Disorder. Explains great many things.<br/>
                I think I have Attention Deficit Disorder. Really messes with my OCD. <br/>
                I am NOT a doctor. See above. <br/>
                <br/>
                And by far the most important thing I have learned is that I love the creative process from the
                inception as a mere spark in my head to the hours spent making, breaking and fixing things with my
                own two hands, to showing off the finished(for now?) product. My joy for learning a new language,
                framework, and library is only surpassed by my desire to make this my life's work.<br/>
                <br/>
                Now if I can just get someone to hire me...<br/>
                <br/>
            </p>
            <p id="ps">
                P.S. I promised I would explain the whole alcoholic beverage theme and I completely forgot to address
                it. Blame it on my ADD. My friends call me Jin & Juice because my name used to be Jin! Kinda weak
                now that I really think about it...
            </p>

        </div>
    </div>
</template>