<template name="homeAboutMe">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="thumbnail">
                <img src="/assets/seankim01.jpg" alt="" class="portrait" width="125px" height="125px"/>
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <h3>my intro</h3>
        </div>
    </div>
</template>