<template name="contact">
    <div class="row contact-container">
        <div class="contact-group">
            <div class="col-sm-4 contact-method" id="phone">
                <p>
                    (650) 452 - 0007
                </p>
            </div>
            <div class="col-sm-4 contact-method" id="email">
                <p>
                    seanjtkim@gmail.com
                </p>
            </div>
            <div class="col-sm-4 contact-method" id="tweet">
                <p>
                    @J1nNJu1ce
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <p id="contact-footer">
            Please pick a coaster!
        </p>
    </div>
</template>