<template name="contact">
    <div class="row contact-container">
        <div class="contact-group">
            <div class="col-sm-4 contact-method" id="phone">
                <div class="coaster-writing">
                    Call me! <br/>
                    650-452-0007
                </div>
            </div>
            <div class="col-sm-4 contact-method" id="email">
                <div class="coaster-writing">
                    Email me! seanjtkim<br/>    @gmail.com
                </div>
            </div>
            <div class="col-sm-4 contact-method" id="tweet">
                <div class="coaster-writing">
                    Tweet me!
                    @SeanJinKim
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p id="contact-footer">
            Please pick a coaster!
        </p>
    </div>
</template>