<template name="contact">
    <div class="row contact-group">
        <div class="col-sm-8 col-sm-offset-2 contact-method" id="phone">
            <p>
                (650) 452 - 0007
            </p>
        </div>
        <div class="col-sm-8 col-sm-offset-2 contact-method" id="email">
            <p>
                seanjtkim@gmail.com
            </p>
        </div>
        <div class="col-sm-8 col-sm-offset-2 contact-method" id="tweet">
            <p>
                @J1nNJu1ce
            </p>
        </div>

    </div>
</template>