<template name="homeIndex">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1" id="landing-page">
            <h1>Welcome to the BAR.</h1>
            <h4>
                Sorry to disappoint you but this isn't THAT <br/>
                type of bar despite what the picture suggests. <br/>
                This BAR is the bar I have set for myself when I <br/>
                decided to become a web developer.
            </h4>
            <h4>
                This website serves as my re/presentation of my <br/>
                (sometimes difficult) journey through the world <br/>
                of web development and I hope to be continually <br/>
                raising the bar and improving upon the site.
            </h4>
            <h3>
                ENJOY!
            </h3>
        </div>
    </div>
</template>