<template name="projects">
    <div class="row" style="margin-top: 35px">
        <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 15px;">
            <p>
                Here are some of my projects that I have worked on and main technology used.
            </p>
        </div>
        <a href="http://cardsagainstsobriety.azurewebsites.net/">
            <div class="col-sm-8 col-sm-offset-2 project-box meteor-proj">
                <h3>Cards Against Sobriety</h3>
            </div>
        </a>
        <a href="https://github.com/Galvanization/solicit/">
            <div class="col-sm-8 col-sm-offset-2 project-box rust-proj">
                <h3>HTTP/2 Client Implementation</h3>
            </div>
        </a>
        <a href="https://github.com/jinnjuice/hackadayio-simple-app">
            <div class="col-sm-8 col-sm-offset-2 project-box javascript-proj">
                <h3>Simple Search Tool for HackadayIO</h3>
            </div>
        </a>
        <a href="http://gitinsights.herokuapp.com/#/">
            <div class="col-sm-8 col-sm-offset-2 project-box angular-proj">
                <h3>Git Insights</h3>
            </div>
        </a>
        <a href="http://ng-shopping-list.firebaseapp.com">
            <div class="col-sm-8 col-sm-offset-2 project-box angular-proj">
                <h3>Co-Shopping List</h3>
            </div>
        </a>
        <a href="http://fantasydraft.firebaseapp.com">
            <div class="col-sm-8 col-sm-offset-2 project-box javascript-proj">
                <h3>Fantasy Draft Mate</h3>
            </div>
        </a>
    </div>
</template>