<template name="projects">
    <div class="row" style="margin-top: 35px">
        <a href="http://cardsagainstsobriety.azurewebsites.net/">
            <div class="col-sm-6 col-sm-offset-3 project-box meteor-proj">
                <h3>Cards Against Sobriety</h3>
            </div>
        </a>
        <a href="https://github.com/Galvanization/solicit/">
            <div class="col-sm-6 col-sm-offset-3 project-box rust-proj">
                <h3>HTTP/2 Client Implementation</h3>
            </div>
        </a>
        <a href="http://gitinsights.herokuapp.com/#/">
            <div class="col-sm-6 col-sm-offset-3 project-box angular-proj">
                <h3>Git Insights</h3>
            </div>
        </a>
        <a href="http://ng-shopping-list.firebaseapp.com">
            <div class="col-sm-6 col-sm-offset-3 project-box angular-proj">
                <h3>Co-Shopping List</h3>
            </div>
        </a>
        <a href="http://fantasydraft.firebaseapp.com">
            <div class="col-sm-6 col-sm-offset-3 project-box javascript-proj">
                <h3>Fantasy Draft Mate</h3>
            </div>
        </a>
    </div>
</template>