<template name="projects">
    <div class="row" style="margin-top: 35px">
        <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 15px;">
            <p>
                Here are some of my projects that I have worked on and main technology used.
            </p>
        </div>
    </div>
    <div class="row projects-row">
        <a href="http://cardsagainstsobriety.azurewebsites.net/">
            <div class="col-sm-8 project-box meteor-proj">
                <h2>Cards Against Sobriety</h2>
            </div>
        </a>
        <a href="https://github.com/Galvanization/solicit/">
            <div class="col-sm-10 project-box rust-proj">
                <h2>HTTP/2 Client Implementation</h2>
            </div>
        </a>
        <a href="https://github.com/jinnjuice/hackadayio-simple-app">
            <div class="col-sm-10 project-box javascript-proj">
                <h2>Simple Search Tool for HackadayIO</h2>
            </div>
        </a>
        <a href="http://gitinsights.herokuapp.com/#/">
            <div class="col-sm-10 project-box angular-proj">
                <h2>Git Insights</h2>
            </div>
        </a>
        <a href="http://ng-shopping-list.firebaseapp.com">
            <div class="col-sm-10 project-box angular-proj">
                <h2>Co-Shopping List</h2>
            </div>
        </a>
        <a href="http://fantasydraft.firebaseapp.com">
            <div class="col-sm-10 project-box javascript-proj">
                <h2>Fantasy Draft Mate</h2>
            </div>
        </a>
    </div>
</template>