<template name="resume">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4" style="margin-top: 35px">
            <p>
                I thought about embedding my resume here but that just looked a bit... tacky. So here's a QR code instead!
            </p>
        </div>

        <div class="col-sm-4 col-sm-offset-4" style="margin-bottom: 10px">
            <a href="https://goo.gl/KrQk4G">
                <img src="assets/resumeQR.png" alt="" id="qr"/>
            </a>
        </div>

        <div class="col-sm-4 col-sm-offset-4">
            <p>
                And if you don't have or want a QR reader for some weird reason, or if you are looking at this on
                your phone, just click on the QR code to access my resume!
            </p>
        </div>
    </div>
</template>